.timer {
    padding: 50px;
    font-size: 6em;
    font-family: 'Akira Expanded'
}

.timer_cro {
    padding: 50px;
    font-size: 6em;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}